<script src="/javascripts/splide.min.js"></script>
<link rel="stylesheet" href="/stylesheets/splide.min.css">
<style>
  .splide__slide img {
    height: auto;
    border-radius: 5px;

  }
  .carousel-progress {
    background: #ccc;
  }

  .progress-bar {
    background: white;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
  }
</style> 

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Collections</a></li>
    <li class="breadcrumb-item"><a href="/products?collectionId={{collectionId}}">{{collectionName}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ item.productName }}</li>
  </ol>
</nav>

<div class="row mb-3">
  {{!-- COLUMN 1 --}}
  <div class="col-lg-4 col-md-5">
    <div id="image-slider" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {{#each item.productThumbs}}
            <li class="splide__slide"><img class="img-responsive img-fluid" src="images/products/{{this}}"></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{!-- COLUMN 2 --}}
   <div class="col-lg-6 col-md-6 ms-3 mt-3">
    <!-- views/reviews-edit.handlebars --> 
    <form method="POST" action="/updateProduct/{{collectionId}}/{{item.productId}}?_method=PUT" id="itemEdit">
      <fieldset>
        <legend>Edit Item</legend>
        <!-- PRODUCT NAME -->
        <p>
          <label for="productName">Product Name</label><br>
          <input id="productName" type="text" name="productName" value="{{item.productName}}"/>
        </p>

        <!-- DESCRIPTION -->
        <p>
          <label for="description">Description</label><br>      
          <textarea id="description" name="description" rows="10" />{{item.description}}</textarea>
        </p>

        <!-- SIZE -->
        <p>
          <label for="size">Size</label><br>
          <input id="size" type="text" name="size" value="{{item.size}}"/>
        </p>

        <!-- PRICE -->
        <p>
          <label for="price">Price</label><br>
          <input id="price" type="text" name="price" value="{{item.price}}"/>
        </p>

        <!-- MEASUREMENTS -->
        <p>
          <label for="measurements">Measurements</label><br>
          <input id="measurements" type="text" name="measurements" value="{{item.measurements}}"/>
        </p>
<hr>
        <!-- AUS POST PARCEL -->
        <p>
          <label for="parcel">Parcel Type</label> : {{item.ausPostParcel}}
          <br>
          <select name="parcel" id="parcel" >
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
        </p>
        <div class="sizingTable m-3">
          <div class="row bg-primary">
            <div class="col baja-font-larger">Sizing Guide</div>
            <div class="col baja-font-larger">Height</div>
            <div class="col baja-font-larger">Length</div>
            <div class="col baja-font-larger">Width</div>
            <div class="col baja-font-larger">Weight</div>
          </div>
          <div class="row bg-light text-dark">
            <div class="col">XS</div>
            <div class="col">10cm</div>
            <div class="col">26cm</div>
            <div class="col">11cm</div>
            <div class="col">100gms</div>
          </div>
          <div class="row bg-secondary">
            <div class="col">S</div>
            <div class="col">10cm</div>
            <div class="col">34cm</div>
            <div class="col">19cm</div>
            <div class="col">250gms</div>
          </div>
          <div class="row bg-light text-dark">
            <div class="col">M</div>
            <div class="col">10cm</div>
            <div class="col">38cm</div>
            <div class="col">22cm</div>
            <div class="col">500gms</div>
          </div>
          <div class="row bg-secondary">
            <div class="col">L</div>
            <div class="col">10cm</div>
            <div class="col">48cm</div>
            <div class="col">26cm</div>
            <div class="col">700gms</div>
          </div>
          <div class="row bg-light text-dark">
            <div class="col">XL</div>
            <div class="col">10cm</div>
            <div class="col">55cm</div>
            <div class="col">36cm</div>
            <div class="col">1kg</div>
          </div>
          <div class="row bg-secondary">
            <div class="col">XXL</div>
            <div class="col">73cm</div>
            <div class="col">55cm</div>
            <div class="col">36cm</div>
            <div class="col">1.5kg</div>
          </div>
        </div>
      </fieldset>
      <!-- BUTTON -->
      <div>
        <button class="btn btn-light" type="submit">Save Changes</button>
        <a class="btn btn-light" href="/item?itemId={{item.productId}}&collectionId={{collectionId}}">Return to Item</a>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener( 'DOMContentLoaded', function () {
	  new Splide( '#image-slider' ).mount();
  });
  console.log("Client side admin page");
</script>