<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Collections</a></li>
    <li class="breadcrumb-item"><a href="/products?collectionId={{collectionId}}">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ item.productName }}</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 p-3 text-center">
      <img src="/images/products/{{ item.productImage }}" style="border-radius:10px;max-width: 250px;" >
    </div>
    <div class="col-md-6 p-3">
      <h1 class="text-light">{{ item.productName }}</h1>
    <p class="text-light">{{ item.description }}</p>
    <p class="text-light">Size: {{ item.size }}</p>
    <p class="text-light">${{ item.price }}</p>
    <a class="btn btn-light" href="#">Add to cart</a>
    </div>
  </div>
</div>