<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Collections</a></li>
    <li class="breadcrumb-item"><a href="/products">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ this.productName }}</li>
  </ol>
</nav>

<div id="row">
  <div class="col col-lg-2">
      <img src="/images/products/{{ item.productImage }}" style="max-width: 450px;" />
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
</div>

<div class="price text-center text-light">{{ item.productName }}</div>
<div class="price text-center text-light">{{ item.productImage }}</div>
<div class="text-center text-light">{{ item.description }}</div>
<div class="price text-center text-light">Size: {{ item.size }}</div>
<div class="price text-center text-light">${{ item.price }}</div>