<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Collections</a></li>
    <li class="breadcrumb-item"><a href="/products">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ this.productName }}</li>
  </ol>
</nav>

<div class="price text-center">{{ item.productName }}</div>
<div class="text-center">{{ item.description }}</div>
<div class="price text-center">Size: {{ item.size }}</div>
<div class="price text-center">${{ item.price }}</div>