{{!-------------------------- Flickity --------------------------}}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Collections</a></li>
    <li class="breadcrumb-item"><a href="/products?collectionId={{collectionId}}">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ item.productName }}</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-2 text-center"></div>
    <!-- Column 1 -->
    <div class="col-md-3 p-3 text-center">
      {{!-- <img src="/images/products/{{ item.productImage }}" style="border-radius:10px;max-width:250px;" > --}}
      <!-- Flickity HTML init -->
      <div class="carousel carousel-main text-right" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }' style="background-color: black;width:17rem">
        {{#each item.productThumbs}}
          <img src="/images/products/{{this.image}}" style="max-width:17rem;border-radius:10px">
        {{/each}}
      </div>

      <div class="carousel carousel-nav"
        data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false }' style="background-color: black;margin-top:-2rem;width:17rem;">
          {{#each item.productThumbs}}
            <img src="/images/products/{{this.thumbnail}}" style="max-width: 40px;">
          {{/each}}
      </div>
    </div>

    <!-- Column 2 -->
    <div class="col-md-5 p-3">
      <h1 class="text-light">{{ item.productName }}</h1>
      <p class="text-light">{{ item.description }}</p>
      <p class="text-light">Size: {{ item.size }}</p>
      <p class="text-light">${{ item.price }}</p>
      <a class="btn btn-light" href="#">Add to cart</a>
    </div>
  </div>
</div>




