<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/collections">Collections</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ this.breadCrumb }}</li>
  </ol>
</nav>
{{!-- /items?itemId={{this.productId}} --}}

<h4 class="sectionHeader text-center text-light" style="padding: 0  1rem 0;">{{ this.breadCrumb }}</h4>
{{# each products }}
    <div class="row justify-content-md-center bg-image">
        {{# each this}}
            <div class="col-xs-3 col-lg-2 blockSpace4">
                <a href="/item?itemId={{this.productId}}&collectionId={{@root.collectionId}}" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="images/products/{{ this.productThumbs.[0] }}" alt="{{ this.productName }}">
                        <div class="card-body">
                            <div class="text-light text-center">{{ this.productName }}</div>
                            {{!-- <div class="text-center">{{ this.description }}</div>
                            <div class="price text-center">Size: {{ this.size }}</div>
                            <div class="price text-center">${{ this.price }}</div> --}}
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
{{/each}}